@import url("../../style.css");

.input {
    position: relative;
    margin-bottom: 20px;
    height: 50px;

    &__field {
        border: none;
        border-bottom: 2px solid var(--color-black);
        outline: none;
        font-size: 13px;
        padding: 10px 0;
        width: 280px;
        background: transparent;

        &:valid + .input__placeholder,
        &:focus + .input__placeholder {
            top: -10px;
            left: 0;
            font-size: 9px;
        }
    }

    &__placeholder {
        position: absolute;
        left: 0;
        top: 10px;
        font-size: 13px;
        color: var(--color-dark-gray);
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .error-message {
        color: red;
        font-size: 8px;
        margin-top: 4px;
        display: block;
        height: 16px;
    }
}
