@import url("../../style.css");

.error-page {
    text-align: center;
    padding: 50px;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 40px;
        }

        img {
            width: 72px;
        }
    }

    p {
        margin: 0 0 40px;
        font-size: 20px;
    }

    a {
        color: var(--color-yellow);
    }
}
