<div class="input-profile">
    <label class="input-profile__placeholder">{{placeholder}}</label>
    <input type="{{type}}" name="{{name}}" class="input-profile__field" value="{{value}}" disabled />
</div>
