<div class="chat-page">
    {{{sidebar}}}
    <div class="chat-page__content">
        <aside class="chat-page__content-list">
            {{{chatList}}}
        </aside>
        <main class="chat-page__content-display">
            {{{chatDisplay}}}
        </main>
    </div>
</div>
