<div class="sidebar">
    <nav class="sidebar__nav">
        <a href="/chats">
            <img src="chats.svg" alt="chats" />
            <p class="sidebar__nav-link">message</p>
        </a>
        <a href="/profile">
            <img src="profile.svg" alt="profile" />
        </a>
    </nav>
</div>