@import url("../../style.css");

.sidebar {
    background: var(--gradient);

    display: flex;
    justify-content: center;
    width: 60px;
    height: 100vh;

    .sidebar__nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 13px 0;

        .sidebar__nav-link {
            color: var(--color-light-gray);
            font-size: 9px;
            margin-top: -5px;
        }
    }
}
