<div class="chat-display">
    {{#if chatName}}
        <h2>{{chatName}}</h2>
        <div class="chat-display__messages">
            <p>Messages will be displayed here</p>
            <input type="text" placeholder="Message" class="chat-display__message-input" />
        </div>
    {{else}}
        <p class="chat-display__text">Select a chat to send a message</p>
    {{/if}}
</div>
